.dashboard{
  width: 100%;
  height: 100%;
  background: whitesmoke;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 200px auto;
  gap: 1px;
}
.dashboard .headerr{
  
  background-color: #519755;
  grid-column: 1 / span 2;
  border-bottom: 1px solid rgb(0,0,0,0.1);
}
.dashboard .menu{
  background-color: rgb(231, 236, 179);
  border-radius: 1px solid rgb(0,0,0,0.1);
}
.dashboard .outlet{
  background-color: #A8DCAB
}
.headerr .logo{
  width: 70px;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}
.headerr .logout{
  width: 24px;
  float: right;
  margin-top: 12px;
  margin-right: 10px;
}
.headerr .logout:hover{
  cursor: pointer;
}
.headerr label{
  font-weight: bold;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}